{% extends "layout.html" %}
{% block body %}
<body>
        <section id="demo">
            <div class="vertical-align">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-offset-0">
                            <div class="card no-border">
                                <div id="chat" class="conv-form-wrapper">








                                    <form action=""  method="GET" class="hidden">





				      {% with feedback = get_flashed_messages(category_filter=["feedback"]) %}
				      {% if feedback %}
					{%- for fdbk in feedback %}
                                        <input type="text" conv-question="{{ fdbk }}" no-answer="true">
					{% endfor -%}				
	
			   		{% endif %}
					{% endwith %}				      



				      {% with messages = get_flashed_messages(category_filter=["next_message"]) %}
				      {% if messages %}
					{% for message in messages %}
                                        <input type="text" name="name" conv-question="{{ message }}">
					{% endfor %}
				      {% endif %}
				      {% endwith %}

 

				      {% with options = get_flashed_messages(category_filter=["options"]) %}
				      {% if options %}
				         {% with messages = get_flashed_messages(category_filter=["prompt"]) %}
				         <select name="decision"  method="post"  conv-question="{{ messages[0] }}">
					 {% endwith %}				      

					{%- for msg in options %}
					<option value="{{ msg }}">{{ msg }}</option>
					{% endfor -%}

			   		{% endif %}
					
					{% endwith %}				      
                                    </form>




                                </div>


				      {% with feedback = get_flashed_messages(category_filter=["visual"]) %}

				      {% if feedback %}






  <div id="main">
      <div id="sequence"></div>
      <div id="chart">
        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span><br/>
          of visits begin with this sequence of pages
        </div>
      </div>
    </div>
    <div id="sidebar">
      <input type="checkbox" id="togglelegend"> Legend<br/>
      <div id="legend" style="visibility: hidden;"></div>
    </div>
    <script type="text/javascript" src="/static/stylesheets/sequences.js"></script>
    <script type="text/javascript">
      // Hack to make this example display correctly in an iframe on bl.ocks.org
      d3.select(self.frameElement).style("height", "700px");
  </script> 
  </body>



			   		{% endif %}


					{% endwith %}				      




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript" src="/static/stylesheets/jquery-1.12.3.min.js"></script>
        <script type="text/javascript" src="/static/stylesheets/autosize.min.js"></script>
        <script type="text/javascript" src="/static/stylesheets/dragscroll.js"></script>
        <script type="text/javascript" src="/static/stylesheets/jquery.convform.min.js"></script>




</body>
{% endblock %}
